# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
build/
coverage/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# Android
# =========================
/android/app/build/
/android/.gradle/
/android/local.properties

# =========================
# iOS
# =========================
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.iml

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.lock

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.swp